<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
  </head>
  <body>
  <form method="post" action="addtype.php">
    <table width="530">
      <tr><td bgcolor="#64CDFE" style="line-height:25px" align="center">添加新分类</td></tr>
      <tr><td bgcolor="#64CDFE" align="center">分类名:<input name="type" type="text" size="20">
      <input value="添加" type="submit">
      </td></tr>
    </table>
  </form>
  </body>
</html>