<table width="700" border="0" align="center">
  <tr>
    <td  background="../images/bg.gif"align="right"><img src="../images/image6.gif"></td>
  </tr>
  <tr>
    <td bgcolor="#1A66B6">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#E4E9EC"><table border="0" width="100%">
      <tr>
        <td><div id="menuDiv">
      <div class="div1">重新登陆</div>
      <div id="div1" class="div1" onmouseover="showMenu('div1','div5')">新闻管理</div> 
      <div id="div2" class="div1" onmouseover="showMenu('div2','div6')">分类管理</div>
      <div id="div3" class="div1" onmouseover="showMenu('div3','div7')">用户管理</div>
      <div class="div1">返回主页</div> 
    </div>
    
    <div id="div5" class="div3">
      <a href="">添加新闻</a><br>
      <a href="">修改新闻</a><br>
    </div>
    <div id="div6" class="div3">
      <a href="">添加分类</a><br>
      <a href="">修改分类</a><br>
    </div>
    <div id="div7" class="div3">
      <a href="">添加用户</a>
    </div>
    </td>
      </tr>
    </table></td>
  </tr>
</table>
